<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorstAcceptableThreshold" value="1.05"/>
    <add key="TooManyLanguagesThreshold" value="10"/>
    <add key="LanguageModelsDirectory" value="LM"/>
    <add key="OccuranceNumberThreshold" value="10"/>
    <add key="MaximumSizeOfDistribution" value="400"/>
  </appSettings>
</configuration>