<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- command line switch 'u' -->
    <add key="WorstAcceptableThreshold" value="1.05"/>
    <!-- command line switch 'a' -->
    <add key="TooManyLanguagesThreshold" value="10"/>
    <!-- command line switch 'd' -->
    <add key="LanguageModelsDirectory" value="LanguageModels\TextCat\LM"/>
    <!-- command line switch 'f' -->
    <add key="OccuranceNumberThreshold" value="0"/>
    <!-- command line switch 't' -->
    <add key="MaximumSizeOfDistribution" value="400"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
